/node_modules
/public/hot
/public/storage
/public/assets/img/products/
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
app_git_pull.bat
start_bar_app.bat
start_bar_app_in_chrome.bat
images.ico